<% layout('layouts/boilerplate')%>
<div class="container">
  <div class="col-sm-6 col-sm-offset-3 mx-auto">
    <h1><span class="fa fa-sign-in"></span> Register</h1>
    <form
      action="/admin/register"
      method="post"
      class="validated-form"
      novalidate
    >
      <div class="form-floating mb-3">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          id="email"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="form-floating mb-3">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          name="password"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="form-floating mb-3">
        <label for="category">Category</label>
        <select name="category" id="category" class="form-control" required>
          <option value="admin">Admin</option>
          <option value="frontdesk">Front-Desk User</option>
          <option value="doctor">Doctor</option>
          <option value="dataentry">Data Entry User</option>
        </select>
      </div>
      <button type="submit" class="btn btn-warning btn-lg">Register</button>
    </form>
    <hr />
  </div>
</div>

<script src="/js/adminregister.js"></script>
