<!-- Footer -->
<footer class="fixed-bottom bg-dark text-center text-white">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    &copy; 2023 Copyright: Hospital Management System
    <!-- <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a> -->
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
