<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Hospital Management System</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <% if(currentUser) {%> <% if (currentUser === 'doctor'){ %>
        <a class="nav-link" href="/doctor/dashboard">Dashboard</a>
        <% } %>
        <a class="nav-link" href="/logout">Logout</a>
        <% } %>
        <a class="nav-link" href="/contact">Contact Us</a>
      </div>
    </div>
  </div>
</nav>
