<% layout('layouts/boilerplate')%>
<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
    <h1><span class="fa fa-sign-in"></span> Test</h1>
    <form action="/admin/register" method="post" class="validated-form">
        <div class="form-group">
            <label>RoomNumber</label>
            <input type="number" class="form-control" name="RoomNumber" required />
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="form-group">
            <label for="Status">Status</label>
            <select name="Status" id="Status" class="form-control">
              <option value="Available">Available</option>
              <option value="Occupied">Occupied</option>
            </select>
          </div>
          <div class="form-group">
            <label for="RoomType">Room Type</label>
            <select name="RoomType" id="RoomType" class="form-control">
              <option value="General">General</option>
              <option value="Ventilator">Ventilator</option>
              <option value="ICU">ICU</option>
            </select>
          </div>
      <button type="submit" class="btn btn-warning btn-lg">Register</button>
    </form>
    <hr />
  </div>
</div>
