<% layout('layouts/boilerplate')%>
<div class="container">
  <div class="col-sm-6 col-sm-offset-3 mx-auto">
    <h1><span class="fa fa-sign-in"></span> Schedule Treatment</h1>
    <form
      action="/frontdesk/patient/<%= id %>/treatment"
      method="post"
      class="validated-form"
      novalidate
    >
      <div class="form-floating mb-3">
        <label for="doctor">Doctor</label>
        <select name="doctorID" id="doctor" class="form-control">
          <% for(let doctor of doctors) { %>
          <option value="<%= doctor.doctorID %>">
            <%= doctor.Name %> - <%= doctor.Department %>
          </option>
          <% } %>
        </select>
      </div>
      <div class="form-floating mb-3">
        <label for="Description">Description</label>
        <textarea
          class="form-control"
          name="Description"
          id="Description"
          cols="10"
          rows="1"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="form-floating mb-3">
        <label for="TreatmentDate">Treatment Date</label>
        <div class="col-3" style="display: inline-block">
          <input
            type="date"
            class="form-control treatment-date"
            name="TreatmentDate"
            id="TreatmentDate"
            required
          />
        </div>
        <div class="col-3" style="display: inline-block">
          <input
            type="time"
            class="form-control treatment-time"
            name="TreatmentTime"
            required
          />
        </div>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <button type="submit" class="btn btn-warning btn-lg">Register</button>
    </form>
    <hr />
  </div>
</div>
<script src="/js/frontdesk-treatment-date.js"></script>
